.profile-initials {
    &.profile-red {
        background-color: #ef5350;
    }
    &.profile-green {
        background-color: #43a047;
    }
    &.profile-blueGray {
        background-color: #607d8b;
    }
    &.profile-orange {
        background-color: #e65100;
    }
    &.profile-black {
        background-color: #000;
    }
    &.profile-lightGreen {
        background-color: #33691e;
    }
    &.profile-pink {
        background-color: #ad1457;
    }
    &.profile-purple {
        background-color: #7b1fa2;
    }
    &.profile-teal {
        background-color: #009688;
    }
    &.profile-lightPink {
        background-color: #ec407a;
    }
    &.profile-darkBlue {
        background-color: #0d47a1,
    }
    &.profile-darkRed {
        background-color: #c62828;
    }
    &.profile-darkGreen {
        background-color: #1b5e20;
    }
    &.profile-blue {
        background-color: #1e88e5,
    }
    &.profile-brown {
        background-color: #795548;
    }
}